@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap');
body{
    background-color: #fff;
    font-family: 'Overpass', sans-serif;
}
.container{
    height: 100%;
    display: flex;
}
.btn{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: none;
    background-color: #262F38;
    color: #fff;
    margin: 0 9px;
    font-size: 12px;
}.btn:hover{
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}
.clicou{
    background-color: hsl(216, 12%, 54%);
}
.mostrar{
    display: block;
}
.esconder{
    display: none;
}
.mostrar, .esconder{
    width: 330px;
    height: 330px;
    background-color: #212832;
    color: #fff;
    margin: auto;
    border-radius: 20px;
}
.envolve-estrela{
    width: 40px; height: 40px;
    background-color: #262F38;
    border-radius: 50%;
    display: flex;
    margin: 28px;
}
.estrela{
    margin: auto;
}
.titulo-um{
    margin: 10px 28px;
    font-weight: 400;
}
.paragrafo-um{
    margin: 15px 28px;
    font-size: .75rem;
    line-height: 20px;
    font-weight: 400;
}
.secao-botoes{
    display: flex;
    justify-content: center;
}
.btn-submit{
    width: calc(100% - 56px);
    height: 36px;
    margin: 20px auto;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: hsl(25, 97%, 53%);
    text-transform: uppercase;
}.btn-submit:hover{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    cursor: pointer;
}

/* secao esconder */
.maquininha{
    display: flex;
    width: 134px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
}
.envolve-tks{
    width: 155px;
    height: 26px;
    background-color: #243038;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: auto; margin-right: auto;
    border-radius: 30px;
}
#tksRating{
    font-size: .7rem;
    font-weight: 400;
    color: hsl(25, 97%, 53%);
}
#esconder h3{
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
}
.paragrafo-dois{
    margin-top: 15px;
    width: calc(100% - 54px);
    font-size: .75rem;
    margin-left: auto; margin-right: auto;
    text-align: center;
}